@import './variables';
@import './mixins';
@font-face {
    font-family: 'CustomFont';
    src: url('../../public/assets/fonts/BrownLight-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}




.Vibe-card {
    display: flex;
    padding: 20px;
    width: 700px;
    background-color: $Background-colour;
    gap: 20px;
    color: #222222;

    .vibecard-img {
        width: 200px;
        height: 240px;
        background-size: cover;
        background-position: top-right;
        background-repeat: no-repeat;
        border-radius: 8px;

        .vibeimg-content {
            display: flex;
            flex-direction: column;
            justify-content: end;
            color: #fff;
            font-size: 10px;
            margin-top: 160px;
            padding: 6px;
            .vibepara1{
                font-size: 12px !important;
                color: #fff !important;
            }
            

            p {
                margin: 0; /* Reset any existing margin */
                margin-bottom: 5px; /* Decrease the margin between paragraphs */
                font-weight: 300;
                color: #e9e3e3;
            }
            .reviews{
                text-decoration: underline;
            }
           
        }
    }

    .cardvibe-content {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .cardvibe-date {
            font-size: 10px;
            color: #222222;
            opacity: 0.7;
        }

        .cardvibe-para {
            font-size: 12px;
            line-height: 20px;
            color: #222222;
        }

        .cardvibe-emoji {
            display: flex;
            gap: 12px;
            font-size: 40px;
        }
    }
}
