.dropdown{
    background-color: #fff;
    width: 100px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
    .dropdown-item{
        text-decoration: none;
    }
}