@import './mixins';

@import './variables';
@import './mixins';
@font-face {
    font-family: 'CustomFont';
    src: url('../../public/assets/fonts/IvyMode-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.favourite{
    padding-left: 60px;
    position: relative;
    font-family: 'CustomFont',sans-serif;
    .heading{
        font-size: 28px;
        height: 20px;
    }
    .para{
        font-size: 16px;
        text-align: left;
        letter-spacing: 0.4px;
        color: #222222;
        opacity: 1;
    }
    .card-section{
        display: flex;
        gap: 10px;
        padding-left: 6px;
        .card-section2{
            display: flex;
            flex-wrap: wrap; /* Ensures new row after 5 items */
            //justify-content: center;
            gap: 20px;
            margin-top: 20px;
            
            .small3-card { /* Target only Smal component */
                flex: 1 1 calc(20% - 20px); /* 5 cards per row */
                max-width: calc(20% - 20px);
            }
        }
       


    }
    .cards{
        width: 100%;
        display: flex;
        gap: 10px;
        flex-direction: row;

    }
    .arrow{
        display: flex;
        gap: 10px;
        font-size: 40px;
        font-weight: 400;
    }


}