@import './variables';
@import './mixins';

body {
  font-family: $font-stack;
  background-color: $Background-colour;
}


.divider {
  border: none;
  height: 1px; // Adjust thickness
  background-color: #ddd9d991; // Line color
  margin: 2px 0; // Space around the line
  width: 100%;
}

