@import './variables';
@import './mixins';
@font-face {
    font-family: 'CustomFont';
    src: url('../../public/assets/fonts/BrownLight-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

// Apply the font to elements
body {
    font-family: 'CustomFont', sans-serif;
}


.card {
    display: flex;
    width: 550px;
    height: 250px; // Remove 'public' from path
    background-size: cover;
    background-position: top-left; // Aligns image to the top
    background-repeat: no-repeat;
    border: 1px solid rgb(77, 71, 71); // Fix border property
    border-radius: 10px;
    .sun-logo{
        position: sticky;
        width: 200px;
        display: flex;
        align-items: end;
        justify-content: end;
        padding: 2px;
        margin-bottom: 10px;
        .img{
            width: 60px;
        }
        
    }
    .card-content{
        background-color: $Background-colour;
        width: 350px;
        padding: 6px;
        font-family: 'CustomFont', sans-serif;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        .head{
            display: flex;
            flex-direction: column;
            align-content: center;
            .heading{
                display: block;
                margin-block-start: 0.5rem !important;
                margin-block-end: 0.4rem !important;
                font-weight: 500 !important;
                font-size: 20px;
            }
            .rating{
               
                .star{
                    display: flex;
                }
            }

        }

        .para{
            font-size: 12px;
            letter-spacing: 0.35px;
            color: #222222;
        }
        .address{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 6px;
            .content{
                font-size: 10px;
                color: #222222;

                .span{
                    padding: 4px;
                }
            }
        }

        .outer{
            display:flex;
            align-content: center;
            margin-top: 10px;
            .quote{
                margin-left: 6px;
                font-size: 10px;
                color: #222222;
                display: flex;
                gap: 4px;
              

            }
            .schedule{
                font-size: 10px;
                font-weight: 600;
                margin-left: 80px;

            }
        }

    }
}
