.profile-img1{
           
            background-color: #ffffffa6;
            background-image:  url('../../public/assets/img/socializing.png');
            background-size: cover;
            background-repeat:no-repeat ;
            width: 70px !important;
            height: 90px !important;
            border-radius: 10px;

}