@import './variables';
@import './mixins';

.navbar {
    background-color: Satin-gold;
    padding: 1rem;
  
    .navLink {
      color: white;
      text-decoration: none;
      margin-right: 15px;
  
      &:hover {
        color: darken(white, 10%);
      }
    }
  }
  