.recomm{
    width: 800px;
    height: 450px;
    background-image: url('../../public/assets/img/golf.jpg');
    background-size: cover;
    background-position: top-right; // Aligns image to the top
    background-repeat: no-repeat;
    opacity: 0.9;
    .heart{
        display: flex;
        justify-content: end;
        padding: 10px;
        font-size: 20px;
        
    }
    .content{
        display: flex;
        justify-content: space-around;
        gap: 300px;
        margin-top: 300px;
        .left{
            color: #fff;
            display: flex;
            flex-direction: column;
            .heading{
                margin-block-start: 0.2rem;
                margin-block-end: 0.4rem;
                font-size: 20px;

            }
            .para{
                margin-block-start: 0.2rem;
                color: #fff;
                margin-block-end: 0.2rem;
                font-size: 10px;
            }
            
        }

        .right{
            color: #fff;
            font-size: 10px;
            align-content: end;
            .span{
                font-size: 20px;
                padding: 6px;
                
            }
        }
    }
}