
.reviewModal{

display: flex;
width: 600px;
height: 510px;
margin-top: 10px;
flex-direction: column;
gap: 14px;
background-color: #fff;
border-radius: 0px !important;
box-shadow: none !important;

.review-heading{
    letter-spacing: 0.79px;
    color: #222222;
    opacity: 1;
    font-size: 24px;
    margin-left: 19px;
    font-family: 'CustomFont',sans-serif;
}
.review-para{
         font-family: 'CustomFont2',sans-serif;
         font-size: 14px;
         margin-left: 19px;
         width: 450px;
         color: #222222;
         letter-spacing: 0.35px;
         line-height: 16px;

}
.review-star1{
    display: flex;
    justify-content: space-around;
    gap: 180px;
}

.review-star2{
    display: flex;
    justify-content: space-around;
    gap: 180px;
}
.review-star3{
    display: flex;
    justify-content: space-around;
width: 50px;
margin-left: 17px;
    
    
}
.comment-section{
    width: 480px;
    height:120px;
  
    //margin-left: 24px;
    .review-input{
        font-family: "CustomFont1",sans-serif;
        width: 480px;
        height: 140px !important;
        border: 1px solid#DDDDDD;
        border-radius: 6px;
        box-shadow: 0px 3px 6px #DDDDDD;
        padding: 10px;
        margin-right: 15px !important;

    }
}

.btn0{
    display: flex !important;
    justify-content: left !important;
    gap: 300px;

    .review-btn{
        margin-top: 35px;
        height:33px;
        width: 98px;
        //margin-left: 2px;
        background-color: #222222;
        color: #fff;
        border-radius: 6px;
        border: none;
    
    }
}




}

.rating-compo{
    display: flex;
    flex-direction:column;
    gap: 6px;
    .rating-name{
        font-family: 'CustomFont2',sans-serif;
        font-size: 16px;
    }
    .rating-star{
        display: flex;
        gap: 4px;
    }
}