@import './variables';
@import './mixins';
@font-face {
    font-family: 'CustomFont2';
    src: url('../../public/assets/fonts/BrownLight-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CustomFont3';
    src: url('../../public/assets/fonts/BrownMedium-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.reviewcard{
    font-family: 'CustomFont',sans-serif;
    background-color: &Background-color;
    width: 280px;
    height:auto;
    border: 1px solid #222;
    border-radius: 8px;
    padding: 5px;
   
    .reviewcard-main{
        display: flex;
        flex-direction: column;
        justify-items: start;
        padding: 6px;
        gap: 8px;
        margin-left: 10px;
        .user{
            display: flex;
            gap: 8px;
            font-size: 14px;
            padding: 8px;
            .user-img{
                width: 36px;
                height: 36px;
                background-size: cover;
                background-position: center;
                border-radius: 100px;
            }
            .user-name{
                font-family: 'CustomFont3',sans-serif;
                padding: 6px;
            }

            .review-span{
                font-size: 10px;
                color: #222;
                opacity: 0.8;
            }


        }

        .reviewCard-para{
            font-family: "CustomFont2",sans-serif;
            width: 260px;
            line-height: 20px;
            font-size: 12px;
            color: #222222;
            letter-spacing: 0.35px;
color: #222222;
opacity: 1;
            
        }  

        .review-star{
            font-size: 10px;
        }
        .read-more{
            color: #222222;
            font-size: 10px;
            text-decoration: underline;
        }



    }


}