@import './variables';
@import './mixins';
@font-face {
    font-family: 'CustomFont';
    src: url('../../public/assets/fonts/IvyMode-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CustomFont2';
    src: url('../../public/assets/fonts/BrownLight-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.roundGolf{
    font-family: "CustomFont",sans-serif;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 120px;
    .addReview{
        margin-top: 20px;
    }
    
    .round-heading{
        display: flex;
        flex-direction: column;
        .main-heading{
            font-size: 26px;
            
        }
        .down{
            display: flex;
            gap: 2px;
            .star{
                display: flex;
                align-items: center;
                font-size: 10px;
                color: #FF385C;
            }
            .paraa{
                padding-left: 4px;
                font-size: 10px;
                color: #222222;
                font-family:'CustomFont2';
                
            }
        }
    }
.modal-overlay{
    background: #dcd7d790;
    .showimg{
        border-radius: 8px;
        background: #fff;
    }
}
    .carasoul{
        width: 1200px;
        height: 500px;
        display: flex;
        gap: 10px;
        .carasoul-left{
             display: flex;
             flex-direction: column;
             gap: 10px;
             width: 600px;
             height: 500px;
             .up,.down{
                width: 600px;
                height: 250px;
                display: flex;
                gap: 10px;
                .photo1,.photo2{
                    width: 300px;
                   // background-image: url("../img//golf.jpg");
                    height: 250px;
                    background-size: cover;
                    background-position: top-right;
                    background-repeat: no-repeat;
                    border-radius: 8px  0px 8px 0px ;
                }
             }
        }
        .carasoul-right{
            width: 600px;
            height: 510px;
            background-size: cover;
            background-position: top-right;
            background-repeat: no-repeat;
            border-radius: 8px  8px 8px 8px ;
            .right-btn{
                margin-top: 80%;
                margin-left: 80%;
                .btn-show{
                    background-color: #fff;
                    width: 80px;
                    border: none;
                    border-radius: 8px;
                    height: 30px;
                }
            }
          

        }
    }

    .about-event{
        margin-left: 40px;
        font-size: 26px;
        letter-spacing: 1.19px;
color: #222222;
margin-top: 40px;
display: flex;
flex-direction: column;
gap: 20px;

.para-div{
    font-family: "CustomFont2",sans-serif;
    width: 650px;
    font-size: 12px;

  
opacity: 1;
    .para-div-2{
        margin-top: 8px;
        letter-spacing: 0.35px;
color: #222222;
opacity: 0.8;
line-height: 18px;
    }
    .para-div-1{
        margin-top: 8px;
        letter-spacing: 0.35px;
color: #222222;
opacity: 0.8;
line-height: 18px;

    }
    
}

.river-home{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 24px;
    .river-home-star{
        display: flex;
        .span{
            font-size: 12px;
            margin-left: 6px;
        }
    }
    .river-home-para{
        font-family: 'CustomFont2',sans-serif;
        margin-top: 8px;
        letter-spacing: 0.35px;
color: #222222;
opacity: 0.8;
line-height: 18px;
font-size: 12px;
width: 650px;

    }
}

.helper-div{
    font-family: 'CustomFont2',sans-serif;
    letter-spacing: 0.4px;
color: #222222;
opacity: 1;
    display: flex;
    gap: 100px;
    .about-left{
        display: flex;
        flex-direction: column;
        gap: 14px;
    
        .about-left1{
           
            display: flex;
            gap: 8px;
            font-size: 14px;
            .left-content{
                .left-content-heading{
                    font-family: 'CustomFont3',sans-serif;
                }
                .left-content-down{
                    font-size: 12px;
                    margin-top: 6px;
                    
                }
            }
    
        }
    }
    
}


    }
    .review-cards{
        margin-right:18px ;
        margin-top: 60px;
display: flex;
gap: 14px;
    }

    .recommed-section{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .recommed-section-heading{
            font-size: 26px;
        }
        .card-section{
            display: flex;
            gap: 10px;
        }
    }

}