@import './variables';
@import './mixins';
@font-face {
    font-family: 'CustomFont';
    src: url('../../public/assets/fonts/IvyMode-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}


.small-cards{
    font-family: 'CustomFont',sans-serif;
    width: 220px;
    background-color: linear-gradient(0 0 0 #222222);
    
    .img{
        width: 220px;
     
        
        img{
            
            width: 220px;
            height: 300px;
            border-radius: 10px;
        }

    }
    .content{
        .heading{
            display: flex;
            font-size: 10px;
            gap: 6px;
            justify-content: space-around;
            .left{
                font-weight: 600;
                letter-spacing: 0.31;
                display: flex;
                gap: 6px;
                margin-right: 40px;
            }
            .right{
                color: #222;
            }
          
        }

        .mid{
            font-size: 14px;
            font-weight: 500;
            margin-left: 10px;
            margin-block-start: 0.5rem;
            margin-block-end: 0.5rem;
        }
         .last{
            font-size:10px ;
            font-weight: 500;
            margin-left: 10px;
            margin-block-start: 0.5rem;
            margin-block-end: 0.5rem;
        
         }
    }

}